@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.inventory {
    display: flex;
    padding: 1rem;
    border-bottom: 0.5px solid $charcoal;

    @include tablet {
        padding: 2rem;
    }

    &__left {
        width: 28%;
        flex-wrap: wrap;
        margin-right: 1rem;
        @include desktop {
            width: 18rem;
        }
    }
    &__middle {
        width: 28%;
        margin-right: 1.5rem;
        @include desktop {
            width: 18rem;
        }
    }
    &__right {
        width: 28%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include desktop {
            width: 18rem;
            margin-right: 1.5rem;
        }
    }
    &__header {
        margin-bottom: 0.2rem;
        color: $StockPilot-blue;
    }
    &__body {
        margin: 0.2rem 0;
        color: $charcoal;
    }
    &__delete-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__edit-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 0 0 0 auto;
        @include desktop {
            //margin: 0 0 0 7rem;
            margin: 0 0 0 0;
            //background-color: pink;
        }
    }
    &__delete-button {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        padding: 0;
        border: none;
        background-color: #FFFFFF;
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 2rem;
        }
    }
}