@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-form {
    padding: 1rem;

    @include tablet {
        padding: 2rem;
    }

    &__subheader {
        margin: 1rem 0;
    }
}

.inputs {

    &__label {
        margin-bottom: 1rem;
    }
    &__input {
        margin-bottom: 1rem;
    }
}

.buttons {
    display: flex;
    flex-direction: column;

    .cancel {
        padding-top: 1rem;
    }
    .submit {
        padding-top: 1rem;
        @include tablet {
            width: 18rem;
        }
    }
}