@font-face {
    font-family: "Archivo", Arial, sans-serif;
    src: local("Archivo"), url("../../assets/fonts/Archivo-Regular.ttf") fromat(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Archivo", Arial, sans-serif;
    src: local("Archivo"), url("../../assets/fonts/Archivo-SemiBold.ttf") format(truetype);
    font-weight: 600;
    font-style: normal;
}