$tablet-width: 48rem;
$desktop-width: 80rem;
$desktop-content-width: 70rem;

$white: #FFFFFF;
$StockPilot-blue: #483e7f;
$StockPilot-gold: #ae741e;
$light-gold: #f4edd8;
$light-warm-grey: #f1eeeb;
$charcoal: #282623;
$green: #5f9315;
$red: #dc3030;

$m-header-size: 1.5rem;
$m-header-weight: 600;
$m-subheader-size: 1rem;
$m-subheader-weight: 600;
$m-body-size: 0.8rem;
$m-body-weight: 400;

$td-header-size: 2rem;
$td-header-weight: 600;
$td-subheader-size: 1.2rem;
$td-subheader-weight: 600;
$td-body-size: 0.9rem;
$td-body-weight: 400;