@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.edit-form {
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;

    .cancel {
        padding-top: 1rem;
    }
    .submit {
        padding-top: 1rem;
        @include tablet {
            width: 18rem;
        }
    }
}