@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.product {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid $light-warm-grey;
    @include tablet {
        padding: 2rem;
    }
    &__left {
        width: 13rem;
        margin-right: 1.5rem;
        flex-wrap: wrap;
        @include tablet {
            width: 15rem;
        }
    }
    &__right {
        width: 45%;
        flex-wrap: wrap;
        @include tablet {

        }
    }
    &__header {
        color: $StockPilot-blue;
        margin-bottom: 0.2rem; 
    }
    &__body {
        color: $charcoal;
        margin: 0.2rem 0;
    }

}