


.warehouse {

    &__top {

    }
    &__bottom {

    }
    &__delete-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__edit-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}