@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.warehouse {
    display: flex;
    border-bottom: 1px solid $light-warm-grey;
    padding: 1rem;
    @include tablet {
        padding: 2rem;
    }
    &__warehouse {
        width: 35%;
        flex-wrap: wrap;
        margin-right: 1rem;
        @include tablet {
            width: 16rem;
            margin-right: 3rem;
        }
    }
    &__header {
        color: $StockPilot-blue;
        margin-bottom: 0.2rem;
    }
    &__container--left {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            width: 10rem;
        }
    }
    &__body {
        color: $charcoal;
        display: block;
        margin: 0.2rem 0;
    }
    &__contact {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include tablet {
            width: 18rem;
        }
    }
    &__buttons {
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 auto;
        @include desktop {
            margin: 0 0 0 14rem;
        }
    }
    &__delete-button {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        padding: 0;
        border: none;
        background-color: #FFFFFF;
        margin-bottom: 2rem;
    }
    &__delete-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__edit-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__comma {
        display: none;
        @include tablet {
            display: inline;
            margin: 0.2rem 0.4rem 0.2rem 0;
        }
    }
    &__name-position {
        @include tablet {
            display:flex;
        }
    }
}